.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #808080;
  outline: none;
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 0 2px #000;
}
